body{

margin:0;
padding:40px;
font-family:'Poppins',sans-serif;
color:white;

/* fondo tipo galaxia */

background:
radial-gradient(circle at 20% 20%, #7c3aed22 0%, transparent 40%),
radial-gradient(circle at 80% 60%, #9333ea22 0%, transparent 40%),
radial-gradient(circle at 50% 90%, #6d28d922 0%, transparent 40%),
#020617;

min-height:100vh;

}

#particles{

position:fixed;
width:100%;
height:100%;
z-index:-1;

}

.container{

max-width:1200px;
margin:auto;

}

/* TOP SECTION */

.top-section{

display:grid;
grid-template-columns:250px 1fr 1fr;
gap:25px;
margin-bottom:30px;

}

.avatar-card{

background:#0f172a;
border-radius:20px;
padding:30px;
display:flex;
justify-content:center;
align-items:center;
box-shadow:0 0 30px rgba(0,0,0,0.4);
box-shadow:0 0 25px #7c3aed;

}

.avatar-card img{

width:170px;
border-radius:20px;

}

.intro-card{

background:#0f172a;
border-radius:20px;
padding:30px;

}

.subtitle{

color:#9f7aea;

}

.info{

margin-top:10px;
display:flex;
flex-direction:column;
gap:6px;

}

.info a{

color:#8b5cf6;
text-decoration:none;

}

.cv-button{

display:inline-block;
margin-top:15px;
background:#7c3aed;
padding:10px 20px;
border-radius:20px;
text-decoration:none;
color:white;
font-size:14px;

}

.cv-button:hover{

background:#6d28d9;

}

.about-card{

background:#0f172a;
border-radius:20px;
padding:30px;

}

/* GRID */

.grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}

.card{

background:#0f172a;
border-radius:20px;
padding:25px;
transition:0.3s;

}

.card:hover{

transform:translateY(-6px);
box-shadow:0 15px 40px rgba(0,0,0,0.5);

}

.card h2{

margin-bottom:15px;

}

/* SKILLS */

.skills{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.skill{

background:linear-gradient(45deg,#7c3aed,#9333ea);
padding:8px 15px;
border-radius:20px;
font-size:14px;

}

/* TOOLS */

.tools{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.tool{

background:#1e293b;
padding:8px 15px;
border-radius:20px;

}

/* PROYECTOS */

.project h3{

margin-bottom:5px;

}

.tech{

color:#9f7aea;

}

/* EXPERIENCIA */

ul{

padding-left:20px;
line-height:1.8;

}

/* RESPONSIVE */

@media(max-width:900px){

.top-section{

grid-template-columns:1fr;

}

.grid{

grid-template-columns:1fr;

}

}


