body{

background:#060b1a;

font-family:'Poppins',sans-serif;

color:white;

margin:0;

padding:40px;

}


.container{

max-width:1200px;

margin:auto;

}


/* PRIMERA FILA */

.top-section{

display:grid;

grid-template-columns:250px 1fr 1fr;

gap:25px;

margin-bottom:30px;

}


/* AVATAR */

.avatar-card{

background:#111827;

border-radius:20px;

padding:30px;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 0 20px rgba(0,0,0,0.4);

}


.avatar-card img{

width:170px;

border-radius:20px;

}


/* TARJETA INTRO */

.intro-card{

background:#111827;

border-radius:20px;

padding:30px;

}


.intro-card h1{

margin-bottom:10px;

font-size:28px;

}


.intro-card h3{

color:#8b5cf6;

margin-bottom:10px;

}


.info{

margin-top:15px;

display:flex;

flex-direction:column;

gap:8px;

}


.info a{

color:#8b5cf6;

text-decoration:none;

}


/* SOBRE MI */

.about-card{

background:#111827;

border-radius:20px;

padding:30px;

}


.about-card p{

line-height:1.6;

}


/* GRID PRINCIPAL */

.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}


/* TARJETAS */

.card{

background:#111827;

border-radius:20px;

padding:25px;

transition:0.3s;

}


.card:hover{

transform:translateY(-6px);

box-shadow:0 10px 30px rgba(0,0,0,0.6);

}


.card h2{

margin-bottom:15px;

}


/* SKILLS */

.skills{

display:flex;

flex-wrap:wrap;

gap:10px;

}


.skill{

background:linear-gradient(45deg,#7c3aed,#9333ea);

padding:8px 15px;

border-radius:20px;

font-size:14px;

}


/* TOOLS */

.tools{

display:flex;

flex-wrap:wrap;

gap:10px;

}


.tool{

background:#1f2937;

padding:8px 15px;

border-radius:20px;

}


/* LISTAS */

ul{

padding-left:20px;

line-height:1.7;

}


/* PROYECTOS */

.tech{

color:#8b5cf6;

margin-top:10px;

}
